[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "thirdpary/webi"]
	path = thirdparty/webi
	url = https://github.com/sugarsweetrobotics/webi.git
[submodule "thirdpary/cpp-httplib"]
	path = thirdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "src/brokers/http/cpp-httplib"]
	path = src/brokers/http/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "example/joy/libaqua2"]
	path = example/joy/libaqua2
	url = https://github.com/sugarsweetrobotics/libaqua2
